{% extends 'Adminpage.Html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
<table class="table" cellpadding="10px" cellspacing="10px" width="100%" border="2">
    <tr>
        <td colspan="2"><center><h1>Add SubCategory</h1></center></td>
    </tr>
    
    <tr><th>Category Name</th><td>
<select name="t1">
    <option>SELECT Category</option>
    {% for d in data %}
    <option value="{{d.0}}">{{d.1}}</option>
    {% endfor %}
</select>

    </td></tr>
    <table class="table" cellpadding="10px" cellspacing="10px" width="100%" border="2">
    <tr><th>Subcategory Name</th><td><input type="text" name="t2" iid="" placeholder="Subcategory" onchange="textValidator(this)" class="form-control"  title="Alphabets only" 
        pattern="[a-z A-Z]+" onchange="textValidator(this)" placeholder="Name" alert="Only Alphabets are Allowed"
        required=""></td></tr>
        <span class="error-msg" id="error"></span></td>

    <tr>
        <td colspan="2"><input type="submit" value="Add Subcategory"></td>
    </tr>
    

</table>
<nav aria-label="breadcrumb">
   <!--  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="admin_index.php?dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">House</li>
    </ol> -->
</nav>

<div class="col-lg-9">
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> ID</th>
                            <th> Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for d in data1 %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{d.2}}</td>
                            <td class="py-3"> {% if d.2 == st %}
                                    <!-- <a href='/AdminRestoreProduct?id={{d.0}}' style="color:rgb(8, 9, 9);">
                                
                                    
                                    DeActivate</a> -->
                                    <a class="btn btn-primary" href='/AdminRestoresubcategory?id={{d.0}}'> DeActivate</a>
                                 {% else %}
                                 <!--   <a href='/AdminRestorecategory?id={{d.0}}' style="color:rgb(9, 10, 11);">Active</a> -->
                            
                                    <a class="btn btn-primary" href='/AdminRestoresubcategory?id={{d.0}}'>Active</a>
                                    {% endif %}
                                </td>
                          <!--   <td><a href="\AdminAddsubcategory?id={{d.0}}">DELETE</a></td> -->
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

{% if msg %}
<script>
 /*  alert('{{msg}}') */

</script>
{% endif %}
</form>
<script>
    
    	 function textValidator(input) {
        var re = /^[ a-z A-Z ]+$/;
        if (!re.test(input.value)) {
            document.getElementById("error").innerHTML = "Only Alphabets are Allowed";
            document.getElementById("error").style.color = "red";
            return false;
        }
        else {
            document.getElementById("error").innerHTML = "";
            document.getElementById("error").style.color = "";
        }
        return true;
    }

</script>
{% endblock %}
