{% extends 'Adminpage.Html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
<table class="table">
    <tr>
        <th>Employee ID</th><th>Employee Name</th>
    </tr>
    {% for d in data %}
    <tr>
<td>{{d.0}}</td><td>{{d.1}}</td><td><a href="/Viewemploye?id={{d.0}}">View</a></td><td><a href="/Deleteemploye?id={{d.0}}">Delete</a></td>
    </tr>
    {% endfor %}
    {% if msg %}
    <script>
      alert('{{msg}}')
    
    </script>
    {% endif %}
</table>
</form>
{% endblock %}