
{% extends 'Employeepage.Html' %}
{% block content %}
   <!-- <form action="" method="post">-->
    {% csrf_token %}
    <nav aria-label="breadcrumb">
        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin_index.php?dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">House</li>
        </ol> -->
    </nav>
    
    <div class="col-lg-9">
        <div class="card shadow mb-4">
    
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customization</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                                        <tr>
                                           
                                            <th>Productname</th>
                                            <th>Image</th>
                                            <th>Quantity</th>
                                            <th>Length</th>
                                            <th>Width</th>
                                            <th>Height</th>
                                            <th>Color</th>
                                            <th>Date</th>
                                            <th>Wood</th>
                                            <th>Customerid</th>
                                            <th>Status</th>
                                       
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                     
                                        {% for d in data %}
                                        <tr>
                                            
                                            <td>{{d.0}}</td>
                                           
                                            <td><img src="/static{{d.1}}" width="100px"></td>
                                            <td>{{d.2}}</td>
                                            <td>{{d.3}}</td>
                                            <td>{{d.4}}</td>
                                            <td>{{d.5}}</td>
                                            <td>{{d.7}}</td>
                                            <td>{{d.8}}</td>
                                            <td>{{d.10}}</td>
                                            <td>{{d.9}}</td>
                                            <td>{{d.6}}</td>
                                            <!-- <td><a href="/acceptorder?id={{d.0}}">Accept</a></td>
                                            <td><a href="/deleveredorder?id={{d.0}}">Delivered</a></td> -->
                                             <td>
                                                <div class="dropdown">
                                                    <button class="nav-link px-0 align-middle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-clipboard-minus"></i>
                                                      Action
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                      <li><a class="dropdown-item" href="/customizeorders?id={{d.11}}">Accept</a></li>
                                                      <li><a class="dropdown-item" href="/customizeorders?id={{d.11}}">Delivered</a></li>
                                                      
                                                    </ul>
                                                  </div>
                                             </td>
                                        </tr>
                                       
                                        
                                        {% endfor %}
                                        
                                     <!--  <button class="btn"><a href="/ExportEmployeeOrdersToCSV">Export</a></button>  -->
                                     
                                    </tr>
                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            

{% endblock %}