{% extends 'Adminpage.Html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
<table class="table" cellpadding="10px" cellspacing="10px" border="2">
    <tr><td></td><td></td><td rowspan="7">
        <table>
            <tr>
                <td><img width="100px" src="static{{data.0.7}}"></td>
                <td><img width="100px" src="static{{data.0.8}}"></td>
            </tr>
            <tr>
                <td><img width="100px" src="static{{data.0.9}}"></td>
                <td><img width="100px" src="static{{data.0.10}}"></td>
            </tr>
            <tr>
                <td><img width="100px" src="static{{data.0.11}}"></td>
                <!-- <td><img width="100px" src="static{{data.0.9}}"></td> -->
            </tr>
        </table>
    </td>
    </tr>
   <tr>
       <td>ID</td><td><input type="text" readonly value="{{data.0.0}}" name="t1" id=""></td>
   </tr>
   <tr>
    <td>Name</td><td><input type="text" value="{{data.0.1}}" name="t2" id=""></td>
</tr>
<tr>
    <td>Price Not</td><td><input type="text" value="{{data.0.4}}" name="t3" id=""></td>
</tr>
<tr>
    <td>Price</td><td><input type="text" value="{{data.0.3}}" name="t4" id=""></td>
</tr>
<tr>
    <td>Description</td><td><input type="text" value="{{data.0.5}}" name="t5" id=""></td>
</tr>
<tr><td><input type="submit" value="Update" name="b1"> </td><td><a href="/deleteproduct?id={{data.0.0}}">DELETE</a></td></tr>
</table>
</form>
{% endblock %}