{% extends 'AdminPage.html' %}
{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
var data = google.visualization.arrayToDataTable([

['Date','Price'],
 
     ['"{{d.4}}"','"{{d.6}}"'],
    
     

]);

var options = {
title: 'Order Chart',
pieHole: 0,
        pieSliceTextStyle: {
          color: 'black',
        },
        legend: 'none'
};
var chart = new google.visualization.PieChart(document.getElementById("columnchart12"));
chart.draw(data,options);
}

  </script>
  <div class="container-fluid">
 <div id="columnchart12" style="width: 100%; height: 500px;"></div>
 </div>
   
{% endblock %}

